
<h1>Books</h1>



<p *ngIf="!books"><em>Loading...</em></p>
<button *ngIf="books" class="btn-success" style="float:right;" (click)="showAddModal()"> Add + </button>
<table class='table' *ngIf="books">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Page</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.id }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.page }}</td>
            <td><a style="cursor:pointer;" (click)="showEditModal(book.id)">Edit</a></td>
            <td><a style="cursor:pointer;" (click)="showDeleteModal(book.id)">Delete</a></td>
        </tr>
    </tbody>
</table>
<bs-modal  #modal>
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">{{title}}</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-xs-10">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name"
                       [(ngModel)]="book.name"  />
            </div>
            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" name="author"
                       [(ngModel)]="book.author" />
            </div>
            <div class="form-group">
                <label>Page</label>
                <input type="number" class="form-control" name="page"
                       [(ngModel)]="book.page" />
            </div>
            <div class="form-group">

                <button *ngIf="isAddMode" class="btn btn-default" (click)="addBook()">
                    Add
                </button>
                <button *ngIf="!isAddMode" class="btn btn-default" (click)="updateBook()">
                    Edit
                </button>
            </div>
           
        </div>
    </bs-modal-body>
    <bs-modal-footer>
      
    </bs-modal-footer>
</bs-modal>
<style>
    .modal-header {
        border-bottom: none !important;
    }
</style>